<h1>{{title}}</h1>
{{!-- for headers we dont need to create an entire html file bcuz its a part of the webpage, so we just add the elements we want to include --}}
<header>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>